<%-include("./partials/header")%>

<div class="container">
	
		<h2 style="margin-top:100px;"class="text-center">Create new link</h2>
		<div style="width:30%;margin:20px auto;">
			<form class="" method="POST" action="/user/<%=url%>/new">
				<div class="form-group">
					<input class="form-control" type="text" name="title" placeholder="Title">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="link" placeholder="Gdrive Link">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">Add</button>
				</div>
			</form>
			<a href='/user/<%=url%>'>Go Back</a>
		</div>
</div>


<%-include("./partials/footer")%>